body {
    font-family: Comic Sans MS;
     color: blue;
    margin-top: 100px;
}

.center {
    text-align: center;
   color: blue;
}

.left {
    text-align: left;
   color: blue;
}


.bold {
    font-weight: bold;
}

.img-medium {
    height:250px;
}

body {
    background-color: lightblue;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 80px;
}